@media only screen and (min-width: 60em) {
    main {
        font-size: 1.3rem;
    }

    .logo {
        height: 200px;
        width: 200px;
    }

    .wireframes:not(:first-child) {
        height: 100%;
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-template-rows: repeat(1, 1fr); */
        grid-gap: 15px;
        font-size: inherit;
    }

    .cards_index {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px;
        font-size: inherit;
    }

    section:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    section:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    section:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .gallery_images:nth-child(n) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* 2n does not work for these values 
    2 => 5 => 8 => 11 */
    .gallery_images:nth-child(3n-1) {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .gallery_images:nth-child(3n) {
        grid-column-start: 7;
        grid-column-end: 10;
    }

    .directory_cards {
        grid-column-start: auto;
    }

    .cards_section {
        display: block;
    }
}