/* Nav formatting */
nav {
    overflow: hidden;
    background-color: #22333b;
    top: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 0.9rem;
}

.navigation a:hover {
    background-color: #dee3e0;
    color: #0a0908;
}

.responsive li {
	display: block;
}


/* Non-nav styling */
body {
    font-family: 'Noto Sans JP', sans-serif;
    /* background-color: #d3d9d5; */
    background-color: #f4f6f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}

main {
    text-align: left;
    margin-left: 5%;
    max-width: 90%;
    font-size: 0.8rem;
}


header {
    padding: 10px;
    margin: 0;
    background-color: #dee3e0;
    color: #0a0908;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer {
    flex-flow: column;
    text-align: center;
    display: flex;
    background-color: #22333b;
    padding: 5px;
    font-size: 0.9rem;
    margin-top: 0;
    color: white;
}

footer p {
    margin: 5px;
}

.map_div {
    overflow: hidden;
    /* background-color: #5e503f; */
    color: #0a0908;
    background-color: gray;
    padding: 15px;
    text-align: center;
}


#map_img {
    display: none;
}


/* Top div formatting */
.top_div {
    background-color: gray;
    position: relative;
    margin-bottom: 5%;
}

#winter_img {
    height: 10%;
    width: 100%;
}

.social_media {
    width: 40px;
    height: auto;
  
    /* border not on img, weird gap between img and border */
    /* border: 2px solid black; */
    box-shadow: 2px 2px 2px 1px black;
    border-radius: 50%;
}

.media_logos {
    margin-left: 2%;
    margin-right: 2%;
}

.hero_imgs {
    width: 100%;
}

.w_summary {
    font-size: 0.7rem;
    padding: 5px;
    background-color: #22333b;
    color: #f4f6f5;
    float: left;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 12%;
}

.w_summary h3 {
    text-decoration: underline;
}


/* Get rid of most of the following - tables, five day forecast */

/* five day forecast formatting */
.five_day_forecast {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
}

.five_day_forecast table {
    margin-left: inherit;
    margin-right: inherit;
    text-align: center;
}

table {
    font-size: 115%;
}

table, th{
    border: 1px solid black;
}

table tr:first-child {
    background-color: #1985a1;
}

th {
    padding: 5px;
}

/* article formatting */
.article_div {
    background-color: rgb(161, 159, 159);
    border: black;
    padding: 10px;
    float: none;
}

.article_img {
    /* height: 20%; */
    width: 75%;
}

/* banner formatting */
#banner_div {
    display: none;
    position: relative;
    background-color: yellow;
    margin: 0 auto 0;
    padding: 10px;
    text-align: center;
}


/* Logo formatting */
.logo {
    width: 75%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
}

.active {
    text-decoration: underline;
}

/* Formatting for gallery images*/
.gallery_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 15px;
}


/* .gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: pink; 
}

.gallery .inside_div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 0.5px solid black;
    padding: 0;
    opacity: 1;
    transition: opacity 2s;
} */

img[data-src] {
    opacity: 0;
}

figure {
    /* background-color: pink; */
    border: #545454 solid;
}


form {
    max-width: 80%;
    overflow: hidden;
    display: block;
    padding-top: 1rem;
}

input:not([type='radio']) {
    clear: both;
    float: right;
}

fieldset {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

fieldset span {
    float: right;
    margin-right: 10px;
}

.wireframes {
    background-color: white;
}

.wireframes:not(:first-child) {
    height: 100%;
    width: 100%;
}

/* .wireframes img {
    height: 100%;
    width: 100%;
} */

section {
    background-color: rgba(168, 162, 162, 0.918);
    margin: 10px;
    color: black;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.cards_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

section:nth-child(n) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.motto {
    font-style: italic;
    font-size: 85%;
}

.fig_imgs {
    width: 100%;
    height: 100%;
}

/* .json_fig_imgs {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */


/* add an events css for the towns */
.events_header {
    text-decoration: underline yellow;
    /* text-underline-offset: 1em; */
}

.events_div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #46494c;
    border-style: solid;
    border-width: 0.75rem;
    border-color: black;

    color: rgb(238, 238, 238);
    max-width: 75%;
    font-size: 90%;
}

/* italicize span to emphasize text */
.italic_span {
    font-style: italic;
}


/* table creation for index file */
.divTable{
	display: table;
	width: 100%;
}
.divTableRowOne, .divTableRowTwo {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.rexburg_link {
    color: white;
}

.rexburg_link:hover {
    color: blue;
}

.contact_form {
    background-color: #22333b;
    color: #eee;
    border-radius: 2.5%;
}

.contact_btn {
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 5%;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid #0a0908;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 10px;
}

.contact_btn:hover {
    color: #f4f6f5;
    background-color: #1985a1;
    transition: 0.5s ease-in-out;
    box-shadow: 2.5px 5px 5px gray;
}

.center_div {
    display: block;
    /* max-width: 80%; */
}

.center_div::after {
    content: "";
    clear: both;
    display: block;
}

.weather_div {
    max-width: 80%;
}
